* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #3e3e3e;
    color: rgb(94, 114, 232);
}

h1, p {
    padding: 1.5rem;
}

a {
    display: inline-block;
    text-decoration: none;
    color: rgb(191, 112, 233);
    padding: .5rem;
}

h1, h2 {
    color: rgb(142, 227, 30);
}

.main-title {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}

footer {
    padding: 2rem;
    background-color: #121212;
    color: white;
}
